<div class="pmw-deny-list">
  <p class="pmw-deny-list__hint">
    Add one path prefix per line. Assets whose <code>originalPath</code> starts with any of these prefixes will be hidden from the report.<br>
    <em>Examples: <code>systems/</code> &nbsp;|&nbsp; <code>modules/dh-assets</code></em>
  </p>
  <textarea id="pmw-deny-textarea" class="pmw-deny-list__textarea" rows="12" placeholder="systems/
modules/dh-assets">{{denyList}}</textarea>
</div>
